

h1 {
    font-family: monospace;
    color: #fff;
    text-align: center;
}

h3 {
    color: #592977;

}

body {
    background-color: #8A8591;
}

.terminal {
    font-family: monospace;
    font-size: 14px;
}

div {
    border: 4px solid white;
    padding: 10px;
    border-radius: 8px;
    width: 800px;
    margin: auto;
}

a:hover {
    color: white;
}

a {
    color: #6D1531;
}

li {
    list-style-type:disc;
    font-family: Helvetica;
}

p {
    font-family: Helvetica;
    font-size: 16px;
}

footer {
    font-family: monospace;
    font-size: 12px;
    text-align: center;
    color: white;
}